{{define "content"}}
<div class="container">
  <div class="row no-gutters">
    <div class="col-md-12 col-lg-12 align-center">
      {{range .records}}
        <div class="video-thumbnail">
          <div class="video-preview-header">{{.FinishAt.Format "Jan 02, 2006 15:04"}}</div>
          <a href="/records/{{.UUID}}">
            <div class="video-preview" style="background-image: url('https://st.saverbate.com/images/performers/{{.BroadcasterName}}/{{.UUID}}_big.jpg')"></div>
          </a>
          <div class="video-preview-foot">{{.BroadcasterName}}</div>
        </div>
      {{end}}
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <nav>
        <ul class="pagination justify-content-center">
          <li class="page-item {{if eq .prevPaginationState `#`}}disabled{{end}}">
            <a class="page-link" href="{{.prevPaginationState}}">
              &laquo; Newer
            </a>
          </li>
          <li class="page-item {{if eq .nextPaginationState `#`}}disabled{{end}}">
            <a class="page-link" href="{{.nextPaginationState}}">
              Older &raquo;
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<div class="age-confirm-dialog modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h5>YOU MUST BE OVER 18</h5>
        <p>This website contains information, links,
            images and videos of sexually explicit material (collectively, the "Sexually Explicit Material")</p>
      </div>
      <div class="modal-footer">
        <a href="https://google.com" type="button" class="btn btn-secondary">Exit</a>
        <button type="button" class="age-confirm-btn btn btn-primary">I'm over 18 y.o.</button>
      </div>
    </div>
  </div>
</div>
{{end}}

{{define "javascripts"}}
  <script type="application/javascript" src="/static/dist/main.bundle.js"></script>
{{end}}
