{{define "content"}}
<div class="container">
  <div class="row">
    <div class="col">
      {{range .records}}
      <div class="video-thumbnail">
          <a href="/records/{{.UUID}}">
            <div class="video-preview" style="background-image: url('http://imgproxy.saverbate.localhost/rs/fit/1280/0/sm/0/plain/local://static/{{.BroadcasterName}}/{{.UUID}}.jpg')"></div>
          </a>
          <a href="/records/{{.UUID}}"><p>{{.BroadcasterName}}</p></a>
      </div>
      {{end}}

      <nav>
        <ul class="pagination justify-content-center">
          {{if .firstRecord}}
          <li class="page-item">
            <a class="page-link" href="/?p_i={{.firstRecord.ID}}&p_f={{.firstRecord.Followers}}&p_ft={{.firstRecord.FinishAt}}">
          {{else}}
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">
          {{end}}
              &laquo; Newer
            </a>
          </li>
          {{if .prevRecord}}
          <li class="page-item">
            <a class="page-link" href="/?p_i={{.prevRecord.ID}}&p_f={{.prevRecord.Followers}}&p_ft={{.prevRecord.FinishAt}}&page={{.nextPage}}">
          {{else}}
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">
          {{end}}
              Older &raquo;
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
{{end}}

{{define "javascripts"}}
{{end}}
