<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="RATING" content="RTA-5042-1996-1400-1577-RTA">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Free webcam records from chaturbate performers">
    <title>Saverbate - free webcam records</title>

    <meta name="theme-color" content="#2f3135">

    <link rel="stylesheet" href="/static/dist/main.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="site-header">
          <h1 class="site-logo"><span class="star">✨</span> Saverbate <span class="star">✨</span></h1>
          <h5 class="site-logo-subtitle">Don't miss the tastiest</h5>
        </div>
      </div>
    </div>
  </div>
  {{template "content" .}}

  <footer>
    <div class="container">
      <div class="row">
        <div class="col">
          <small>
            Saverbate — The Chaturbate Archive.
            Chaturbate is an adult website providing live webcam
            performances by amateur camgirls, camboys and couples typically featuring nudity and sexual activity
            ranging from striptease and dirty talk to masturbation with sex toys.
            "Chaturbate" is a portmanteau of "chat" and "masturbate".
            Saverbate records your favorite live adult webcam broadcasts
            making by your lovely performers from Chaturbate.com to watch it later.
          </small>
        </div>
      </div>
    </div>
  </footer>

  {{template "javascripts" .}}
</body>
</html>
