html, body {
  height: 100%;
}

body {
  background-color: #3E182B;
	color: #fff;
	display: flex;
  flex-direction: column;
}
.content {
	flex: 1 0 auto;
}
footer {
	flex-shrink: 0;
}

a {
	color: #FCEA05;
}
a:hover {
	color: #c2b60e;
}
.btn-outline-primary {
	border-color: #FCEA05;
	color: #FCEA05;
}

.btn-outline-primary:hover {
	border-color:  #FCEA05;
	background-color:  #FCEA05;
	color: #3E182B;
}

.site-header {
	padding-top: 3.5em;
	padding-bottom: 3.5em;
}
.site-header .site-logo {
  text-shadow: 0 -1px 0 #000;
  text-transform: uppercase;
	text-align: center;
	font-size: 2.5em;
}
.site-header .site-logo-subtitle {
	text-align: center;
	color: #FCEA05;
	font-size: 1em;
	font-weight: 400;
}
.site-header .site-logo .star {
  color: #FCEA05;
}

.video-thumbnail {
	display: inline-block;
  width: 266px;
	margin: 0px auto;
	margin-bottom: 1.5em;
	position: relative;
}

.video-preview {
	width: 266px;
	height: 149px;
	background-size: 1064px 596px;
	background-position: 0px -298px;
	border-radius: 3px;
}

.video-preview:hover {
	animation: splash-play-x 1.6s steps(4) infinite, splash-play-y 6.4s steps(4) infinite;
}

.video-preview:hover:before {
	display: none;
}

.page-item {
	margin-right: 0.5em;
}

.page-link {
	border: none;
	background: none !important;
	color: #FCEA05;
}

.page-link:hover {
	border: none;
	background: none !important;
	color: #FCEA05;
}

.modal-backdrop.show {
	opacity: 1.0 !important;
}

.age-confirm-dialog {
	color: #111111;
}
.age-confirm-dialog h5 {
	text-align: center;
}

.form-secondary-links, .form-primary-links {
	float: left;
}

.form-secondary-links {
	padding-left: .5rem;
	padding-top: .45rem;
}

form .invalid-feedback {
	color: #fc7405;
	display: block;
}

.navbar .navbar-nav .nav-link {
	color: #fff;
}
.navbar .navbar-nav .nav-link:hover {
	color: rgb(231, 229, 229);
}

.video-preview-header, .video-preview-foot {
	text-align: left;
	background-color: black;
	padding: 2px;
	font-size: 12px;
	color: #fff;
}

@keyframes splash-play-x {
	from { background-position-x: 0px; }
	to   { background-position-x: -1064px; }
}

@keyframes splash-play-y {
 from { background-position-y: 0px; }
 to   { background-position-y: -596px; }
}

@media (min-width: 320px) {
	.align-center {
		text-align: center;
	}
}

@media (min-width: 768px) {
	.align-center {
		text-align: left;
	}
}

